

.about_it  {
    background:#F4F5F7;
    padding-top:77px;
    padding-bottom:77px;
    display: flex;
    font-size: 2.2rem;
    @include mobile-tablet() {
        padding-top:46px;
        padding-bottom: 46px;
        div {
            width:100%;
            margin-left: 0 !important;
            &:last-child {
                margin-top:20px;
            }
        }
        flex-wrap: wrap;
    }
    div {
        margin-left:22px;
        &:first-child {

            margin-left:0;
        }
    }
    p {
    line-height: 1.5;
    margin-top:25px;
    }
}