        <section class='about_it container'>
            <div>
                <h4>What is it about?</h4>
                <p>Building a website for a startup that looks amazing is not a rocket science anymore.</p>
            </div>
            <div>
                <h4>Who is it for?</h4>
                <p>Startups, small companies and teams, entrepreneurs and web developers.</p>
            </div>
        </section>