        <section class='cmnc container'>
            <p>Communicate Better</p>
            <h2>Built for busy small teams</h2>
            <p>Three products that can be used independently or combined together for your company’s needs.</p>
            <a class='btn--primary'>Get Started</a>
            <div>

                <img src="assets/images/phone.png" alt="">
                <p>A better way to acquire new users</p>
            </div>
            <div>
                <div>
                    Subscriptions. Foundation works with the tools and services you already use every day.
                    Learn more about subscriptions
                </div>
                <div>
                    Felxible Hours. Get started with our simple snippet of JavaScript or easy to install SDKs for iOS
                    and Android.
                    Get more info about hours
                </div>
                <div>
                    Fast Communication. We offer measures like 2FA and SSO to ensure the safety of your data.
                    Communication guidelines
                </div>
            </div>
        </section>