        <section>
            <img src="./assets/images/Logos.png" alt="">
            <div>
                <p>Trusted by the world’s most innovative businesses – big and small</p>
                <p>“Comprehensive set of startup tools for all imaginable entrepreneurial needs. Create landing pages,
                    send emails, find freelancers. Perfect for sales, marketing, and support”</p>
                <div>
                    <p>Viella Malkovich</p>
                    <p>Creative Director at Johnson</p>
                </div>
                <img src="./assets/images/balloons.png" alt="">
            </div>
        </section>