        <section class='features container'>
            <div class='features__logos'>
                <img src="./assets/images/Logos.png" alt="">
            </div>
            <div class='features__main'>
                <p>Features</p>
                <h2>Easily find leads and customers</h2>
                <p>Send one-off and automated email, push, and in-app messages to people. Create better stories.</p>
                <div class='features_acquire'>
                    <div>
                        <img src="" alt="">
                        <span>Acquire new customers</span>
                    </div>
                    <p>Everything you need to start building – including open-source code, documentation.</p>
                    <hr />
                    <ul>
                        <li>
                            <img src="" alt="">
                            <span>Engage users</span>
                        </li>
                        <li>
                            <img src="" alt="">
                            <span>Develop across platforms </span>
                        </li>
                    </ul>
                </div>
            </div>
            <img src="./assets/images/eyes.png" alt="">
            <img src="./assets/images/invision.png" alt="">
        </section>