<section class='features container'>
    <div class='features__logos'>
        <img src="./assets/images/Logos.png" alt="" class='img-rss'>
    </div>
    <div class='features__main'>
        <p class='name'>Features</p>
        <h2 class='title'>Easily find leads and customers</h2>
        <p class='desc'>Send one-off and automated email, push, and in-app messages to people.
            Create better stories.</p>
        <div class='acquire'>
            <div>
                <span class='title'> <i class="fas fa-burn"></i>Acquire new customers</span>
            </div>
            <p class='description'>Everything you need to start building – including open-source code, documentation.
            </p>
            <hr />
            <ul>
                <li>
                    <i class="fas fa-burn"></i>
                    <span>Engage users</span>
                </li>
                <li>
                    <i class="fas fa-burn"></i>
                    <span>Develop across platforms </span>
                </li>
            </ul>
        </div>
    </div>
    <img class='features__eyes' src="./assets/images/eyes.png" alt="">
    <img class='features__invision' src="./assets/images/invision.png" alt="">
</section>