    <header class='container'>
        <nav>
            <div class='brand'>
                <img src="./assets/images/logo.png" alt="" class="brand__logo ">
                <div class='brand__info'>
                    <strong class='brand__info__name'>Foundation</strong>
                    <p class='brand__info__desc'>Startup landing template</p>
                </div>
            </div>
            <div class='navigations'>
                <ul>
                    <li class='active'><a href="">Home</a></li>
                    <li><a href="">Story</a></li>
                    <li><a href="">Library</a></li>
                </ul>
                <a class='btn--primary  navigations__register_btn'>Get Started</a>
            </div>
            <div class='nav__toggle-btn'>
                <img src="./assets/images/toggle.png" alt="" class='img-rss'>
            </div>
        </nav>
        <section class='intro'>
            <h1 class='intro__heading'>Building Stunning Website & Apps.</h1>
            <p class='intro__desc'>Create live segments and target the right people for messages based on their
                behaviors.</p>
            <div class='intro__btn_wrapper'>
                <a class='btn--primary'>Get Started</a>
                <a class='btn--info'>Learn More</a>
            </div>
            <img src="./assets/images/header-img.png" alt="">
        </section>
    </header>