        <section class='hiring'>
            <p>We’re a team of lifelong learners. We’re equal parts left and right brained.</p>
            <a href="" class='btn--primary'>More about Company</a>
            <ul>
                <li>
                    <p>Front-End Developer</p>
                    <p>Los Angeles / Remote</p>
                </li>
                <li>
                    <p>Community Manager</p>
                    <p>New York / Full-Time</p>
                </li>
                <li>
                    <p>UX/UI Designer</p>
                    <p>New York / Full-Time</p>
                </li>
            </ul>
        </section>