        <section class='inbox container'>
            <img src="./assets/images/spin.png" alt="">
            <p>Team Inbox</p>
            <h2>Manage conversations</h2>
            <p>One place to manage and respond to all conversations with leads and users. Receive messages from leads.
            </p>
            <div>
                <p>“Great widgets. Great selection. Great design and easy to implement. Definitely a huge time saver for
                    a web developer!”</p>
                <div>
                    <img src="./assets/images/user.png" alt="">
                    <div>
                        <strong>Viella Malkovich</strong>
                        <p>Creative Director at Johnson</p>
                    </div>
                </div>
            </div>
        </section>