<section class='inbox container'>
    <div>
        <img src="./assets/images/spin.png" alt="">
    </div>
    <div class='inbox__content'>
        <p class='title'>Team Inbox</p>
        <h2 class='b-title'>Manage conversations</h2>
        <p class='desc'>One place to manage and respond to all conversations with leads and users. Receive messages from
            leads.
        </p>
        <div class='feedback'>
            <p class='feedback__message'>“Great widgets. Great selection. Great design and <b>easy to implement</b>.
                Definitely
                a huge
                time saver for
                a web developer!”</p>
            <div class='feedback__info'>
                <img src="./assets/images/user.png" alt="">
                <div>
                    <strong class='name'>Viella Malkovich</strong>
                    <p class='career'>Creative Director at Johnson</p>
                </div>
            </div>
        </div>
    </div>
</section>