<section class='trial'>
    <img src="./assets/images/warwick.png" alt="">
    <div>
        <h2>Start your free trial.</h2>
        <p>Get notified about company updates, news and blog posts. We hate spam.</p>
        <form action="">
            <input type="text">
            <a href="" class='btn--primary'>Get Started</a>
            <p>Free 14-day trial · Easy setup · Cancel any time. Check out Terms of Use.</p>
        </form>
    </div>
</section>